# MySQL Database Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=ttds_app
MYSQL_PASSWORD=ttds#123
MYSQL_DATABASE=ttds_search_engine
MYSQL_POOL_SIZE=5

# Indexer Configuration
# Output directory (should point to indexer's input directory)
INDEXER_OUTPUT_DIR=../indexer/input
# Output filename for Indexer
INDEXER_OUTPUT_FILENAME=docs.json
# Whether to save content to the database (true/false)
# false saves only metadata, content is sent only to indexer to save database storage space
SAVE_CONTENT_TO_DB=false
